name: Daily Stock Report

on:
  schedule:
    - cron: '30 21 * * *'
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

     - name: Run Script
        env:
          FINNHUB_KEY: ${{ secrets.FINNHUB_KEY }}
          BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
          PERSONAL_EMAIL: ${{ secrets.PERSONAL_EMAIL }}
        run: python script.py
